@use 'mixins';
.header{
    display: flex;
    column-gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__container{
        @include mixins.container-styles;
    }
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        column-gap: 20px;
        justify-content: center;
        & input{
            max-width: 300px;
        }
    }
    &__block{
        padding-top: 10px;
        column-gap: 20px;
        row-gap: 30px;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            li{
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
            input[type="checkbox"]{
                width: 20px;
                height: 20px;
                cursor: pointer; /* Добавим указатель, чтобы был виден клик */
            }
            button{
                height: 30px;
            }
        }
    }
    &__top{
        display: flex;

    }
    &__padding{
        padding-top: 30px;
    }
}